@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #212529;
  padding: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

h1 {
  color: white;
  font-size: 42px;
  text-align: center;
  margin-bottom: 16px;
}

img {
  width: 100px;
  padding-bottom: 16px;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
  max-width: 480px;
  margin-bottom: 16px;
  transition: 0.4s;
}

input {
  background-color: #2A2E32;
  color: white;
}

.search-box input {
  display: block;
  appearance: none;
  outline: none;
  border: none;
  padding: 16px;
  width: 100%;
  transition: 0.4s;
}

.search-box:focus-within {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.results {
  max-width: 768px;
  margin: 0 auto;
}

.result {
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #2A2E32;
  border-radius: 16px;
  transition: 0.4s;
}

.result:hover {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.result h3 {
  color: white;
  font-size: 26px;
  margin-bottom: 16px;
}

p {
  color: #A6A7A9;
  font-size: 16px;
  margin-bottom: 16px;
}

span {
  color: #11998E;
}

.result p {
  color: #A6A7A9;
  font-size: 18px;
  margin-bottom: 16px;
}

.result p .searchmatch {
  font-weight: 700;
}

.result a {
  display: inline-block;
  padding: 12px 16px;
  background-image: linear-gradient(to right, #11998E, #6DD5ED);
  color: white;
  font-weight: 700;
  text-decoration: none;
  border-radius: 12px;
  transition: 0.4s;
}
.result a:hover {
  background-image: linear-gradient(to right, #0f8178, #5cb3c7);
}

.noselect {
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}